.card__list-link {
    text-decoration: none;
    color: #212329;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
}

.card__list-link:hover {
    opacity: 0.8;
}